
.footer_nav_container ul,
.footer_social ul {
    padding: 0px 50px;
}

@media (max-width: 576px) {
    .cart_content {
        display: grid !important;
        width: 100%;   
        margin: auto !important;
        grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    }
        .cart_content .cart_content_left {
            width: 100%;
            margin: auto;
        }
        .cart_content .cart_content_left table tr th {
            font-size: 10px;
        }
            .cart_content .cart_content_left .thongtinsp{
                font-size: 10px !important;
            }
            .cart_content .cart_content_left .txtsoluong {
                width: 20px !important;
            }
            .cart_content_right {
                width: 100% !important;
                margin-top: 40px !important;
            }
    .cart_content_right table tr td {
        width: 100% !important;
    }
    cart_content_right_button {
        
    }
}
